---
layout: default
title: Blog
---

<div class="tableLike">
    <div class="tableColumn">
        <h2>Chronological order</h2>
        <i>Many of these have the same date since they were all copied from my archives</i>
        <ul class="posts">
            {% for post in site.posts %}
            <li><a href="{{ post.url }}"
                    title="{{ post.title }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="tableColumn">
        {% for category in site.categories %}
            <h3>{{ category[0] | capitalize }}</h3>
            <ul>
                {% for post in category[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
